<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291985425456-c9knq3sa0npqqh6ja5qhtqmavrrlhtqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291985425456-c9knq3sa0npqqh6ja5qhtqmavrrlhtqu</string>
	<key>API_KEY</key>
	<string>AIzaSyAhUx52RA53V4C88Lg9Y3chM1_3ljI4iPw</string>
	<key>GCM_SENDER_ID</key>
	<string>291985425456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.episodesolutions.enavprovider</string>
	<key>PROJECT_ID</key>
	<string>demofcm-54782</string>
	<key>STORAGE_BUCKET</key>
	<string>demofcm-54782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291985425456:ios:28a198620cbfc4daaf19f5</string>
</dict>
</plist>